@page "/GeothermalPropertiesCompletionOrder"
@inject ILogger<GeothermalPropertiesCompletionOrderMain> logger
@inject ISnackbar Snackbar
@inject IDialogService DialogService
<MudUnitAndReferenceChoiceTag HttpHost=@APIUtils.HostNameUnitConversion
                              HttpBasePath=@APIUtils.HostBasePathUnitConversion
                              HttpController="UnitSystem/"
                              UnitSystemName="@DataUtils.UnitAndReferenceParameters.UnitSystemName"
                              UnitSystemNameChanged="@DataUtils.UpdateUnitSystemName">
    @if (geothermalPropertiesCompletionOrderList == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div hidden="@isHiddenMainPanel">
            <MudDataGrid T="GeothermalPropertiesCompletionOrder" MultiSelection="true" Items="@geothermalPropertiesCompletionOrderList" SelectedItemsChanged="@SelectedItemsChanged"
                         EditMode="DataGridEditMode.Cell"
                         Hover="true" 
                         SortMode="SortMode.Multiple" QuickFilter="@_geothermalPropertiesCompletionOrderFilter" Filterable="false"
                         ReadOnly="false" ColumnResizeMode="ResizeMode.Column" Elevation="0">
                <ToolBarContent>
                    <MudText Typo="Typo.h6">GeothermalPropertiesCompletionOrder</MudText>
                    <MudButton OnClick="@AddGeothermalPropertiesCompletionOrder" Color="@Color.Success" Class="add-item-btn">Add</MudButton>
                    <MudButton OnClick="@DeleteSelectedGeothermalPropertiesCompletionOrder" Color="@Color.Error" Class="add-item-btn">Delete</MudButton>
                    <MudSpacer />
                    <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                                  AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                </ToolBarContent>
                <Columns>
                    <SelectColumn T="GeothermalPropertiesCompletionOrder" />
                    <PropertyColumn Property="x => x.Name" Title="GeothermalPropertiesCompletionOrder" CellStyle="width: 30%;" Sortable="true" Editable="false" />
                    <PropertyColumn Property="x => x.Description" Title="Description" CellStyle="width: 40%;" Sortable="true" Editable="false" />
                    <TemplateColumn CellStyle="width: 25%;">
                        <EditTemplate>
                            <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="(() => EditGeothermalPropertiesCompletionOrder(context.Item.MetaInfo.ID))" />                                                
                            <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" OnClick="(() => DeleteGeothermalPropertiesCompletionOrder(context.Item.MetaInfo.ID))" />
                        </EditTemplate>
                    </TemplateColumn>
                </Columns>
                <PagerContent>
                    <MudDataGridPager T="GeothermalPropertiesCompletionOrder" />
                </PagerContent>
            </MudDataGrid>
        </div>
    }
    @if (isHiddenMainPanel && (!isHiddenEditPanel))
    {
        <GeothermalPropertiesCompletionOrderEdit GeothermalPropertiesCompletionOrderId="@geothermalPropertiesCompletionOrderIdBeingEdited"  ValueChanged="HandleEditPanelClosed" />
    }
</MudUnitAndReferenceChoiceTag>

@code {
    // GeothermalPropertiesCompletionOrder related variables
    private List<GeothermalPropertiesCompletionOrder> geothermalPropertiesCompletionOrderList = new();
    private List<GeothermalPropertiesCompletionOrder> selectedGeothermalPropertiesCompletionOrderList = new();
    private GeothermalPropertiesCompletionOrder? currentGeothermalPropertiesCompletionOrder;
    private List<object?>? inputDataList = new(); // container used to pass input data to the GeothermalPropertiesCompletionOrderEdit razor component without specifying content types (required by µservice Template)
                                                  // GeothermalProperties related variables
    private List<GeothermalProperties>? geothermalPropertiesList;
    // UI related variables
    public bool isHiddenMainPanel;
    public bool isHiddenEditPanel;
    private Guid? geothermalPropertiesCompletionOrderIdBeingEdited;
    private string? _searchString;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            // Show main panel
            isHiddenMainPanel = false;
            isHiddenEditPanel = true;
            currentGeothermalPropertiesCompletionOrder = null;

            // Starting all loading tasks asynchronously
            logger.LogInformation("Trying to load list of GeothermalProperties from client: " + APIUtils.HttpClientGeothermalProperties);
            var geothermalPropertiesTask = APIUtils.ClientGeothermalProperties.GetAllGeothermalPropertiesAsync();
            logger.LogInformation("Trying to load list of GeothermalPropertiesCompletionOrder from client: " + APIUtils.HostNameGeothermalProperties);
            var geothermalPropertiesCompletionOrderTask = APIUtils.ClientGeothermalProperties.GetAllGeothermalPropertiesCompletionOrderAsync();

            List<Task> loadingTaskList = new List<Task> { geothermalPropertiesCompletionOrderTask };
            loadingTaskList.Add(geothermalPropertiesTask);

            // Awaiting tasks and retrieve results as they become available
            while (loadingTaskList.Count > 0)
            {
                Task finishedTask = await Task.WhenAny(loadingTaskList);
                if (finishedTask == geothermalPropertiesCompletionOrderTask)
                {
                    try
                    {
                        geothermalPropertiesCompletionOrderList = (List<GeothermalPropertiesCompletionOrder>)await geothermalPropertiesCompletionOrderTask; // awaiting the finished task allows to retrieve its result and throw exception if needed
                        if (geothermalPropertiesCompletionOrderList != null)
                        {
                            geothermalPropertiesCompletionOrderList.Sort((t1, t2) => t1.Name.CompareTo(t2.Name));
                        }
                        else
                        {
                            logger.LogWarning("Returned list of GeothermalPropertiesCompletionOrder were null on initialization");
                            Snackbar.Add("Returned list of GeothermalPropertiesCompletionOrder were null on initialization", Severity.Warning);
                        }
                    }
                    catch (ApiException ex)
                    {
                        logger.LogError(ex, "Impossible to load GeothermalPropertiesCompletionOrder from client");
                    }
                }
                else if (finishedTask == geothermalPropertiesTask)
                {
                    try
                    {
                        geothermalPropertiesList = (List<GeothermalProperties>)await geothermalPropertiesTask; // awaiting the finished task allows to retrieve its result and throw exception if needed
                        if (geothermalPropertiesList != null)
                        {
                            geothermalPropertiesList.Sort((f1, f2) => f1.Name.CompareTo(f2.Name));
                        }
                        else
                        {
                            logger.LogWarning("Returned list of GeothermalProperties were null on initialization");
                            Snackbar.Add("Returned list of GeothermalProperties were null on initialization", Severity.Warning);
                        }
                    }
                    catch (ApiException ex)
                    {
                        logger.LogError(ex, "Impossible to load GeothermalProperties from client");
                    }
                }
                loadingTaskList.Remove(finishedTask);
            }
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "Problem GeothermalPropertiesCompletionOrder initialization");
        }
        await InvokeAsync(() => { StateHasChanged(); });
    }

    private async Task AddGeothermalPropertiesCompletionOrder()
    {
        isHiddenMainPanel = true;
        isHiddenEditPanel = false;
        geothermalPropertiesCompletionOrderIdBeingEdited = null;
    }

    private async Task EditGeothermalPropertiesCompletionOrder(Guid id)
    {
        isHiddenMainPanel = true;
        isHiddenEditPanel = false;
        geothermalPropertiesCompletionOrderIdBeingEdited = id;
    }
    private async Task HandleEditPanelClosed()
    {
        isHiddenMainPanel = false;
        isHiddenEditPanel = true;
        geothermalPropertiesCompletionOrderIdBeingEdited = null;
        await OnInitializedAsync();
    }

    private async Task<bool> ConfirmDeletion()
    {
        var options = new DialogOptions 
        { 
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.Small,
            FullWidth = true    
        };
        var dialog = await DialogService.ShowAsync<DialogDeleteTemplate>("DELETE", options);
        var result = await dialog.Result;
        StateHasChanged();
        if (result == null)
        {
            return false;
        }
        else
        {
            return (!result.Canceled);
        }
    }
    private async Task DeleteGeothermalPropertiesCompletionOrder(Guid id)
    {
        try
        {
            if (await ConfirmDeletion())
            {
                await APIUtils.ClientGeothermalProperties.DeleteGeothermalPropertiesCompletionOrderByIdAsync(id);
                await OnInitializedAsync();
            }
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "Impossible to delete GeothermalPropertiesCompletionOrder");
        }
    }
    

    private async Task DeleteSelectedGeothermalPropertiesCompletionOrder()
    {
        try
        {
            if (await ConfirmDeletion())
            {
                foreach (GeothermalPropertiesCompletionOrder geothermalPropertiesCompletionOrder in selectedGeothermalPropertiesCompletionOrderList)
                {
                    await APIUtils.ClientGeothermalProperties.DeleteGeothermalPropertiesCompletionOrderByIdAsync(geothermalPropertiesCompletionOrder.MetaInfo.ID);
                }
                await OnInitializedAsync();
            }
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "Impossible to delete all GeothermalPropertiesCompletionOrder");
        }

    }

    //Quick filter - filter gobally across multiple columns with the same input
    private Func<GeothermalPropertiesCompletionOrder, bool>
    _geothermalPropertiesCompletionOrderFilter => x =>
    {
        if (string.IsNullOrWhiteSpace(_searchString))
            return true;
        if ($"{x.Name} {x.Description}".Contains(_searchString))
            return true;

        return false;
    };
    
    //Events
    private void StartedEditingItem(GeothermalPropertiesCompletionOrder item)
    {
        //Activating Edit event capture with parameter StartedEditingItem="@StartedEditingItem" in MudDataGrid; arguments are specified in OnClick="@context.Actions.StartedEditingItem(...)"
    }

    private void CancelledEditingItem(GeothermalPropertiesCompletionOrder item)
    {
        //Activating Cancel event capture with parameter CancelledEditingItem = "@CancelledEditingItem" in MudDataGrid; arguments are specified in OnClick="@context.Actions.CancelledEditingItem(...)"
    }

    private void CommittedItemChanges(GeothermalPropertiesCompletionOrder item)
    {
        //Activating Commit event capture with parameter CommittedItemChanges = "@CommittedItemChanges" in MudDataGrid; arguments are specified in OnClick="@context.Actions.CommittedEditingItem(...)"
    }

    void SelectedItemsChanged(HashSet<GeothermalPropertiesCompletionOrder>
        items)
    {
        selectedGeothermalPropertiesCompletionOrderList.Clear();
        selectedGeothermalPropertiesCompletionOrderList.InsertRange(0, items);
    }
}
